<%= simple_form_for @register, :html => { :class => 'form-horizontal' } do |f| %>
  
  <%= render partial: 'home/error_messages', locals: { model: @register } %>

  <%= f.input :date %>
  <%= f.input :description %>
  <%= f.input :amount %>
  <%= f.input :balance_type %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                registers_path, :class => 'btn' %>
  </div>
<% end %>
