<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:balance_type) %></th>
      <th><%= model_class.human_attribute_name(:paid) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% registers.each do |register| %>
      <tr>
	<td><%= register.description %></td>
	<td class="amount"><%= number_to_currency(register.amount, unit: '$ ') %></td>
	<td class="balance_type"><%= register.balance_type %></td>
	<td class="paid"><%= show_paid_status(register) %></td>
	<td class="created_at"><%= register.created_at.strftime("%a, %e %b %Y") %></td>
	<td>
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
	      edit_register_path(register), :class => 'btn btn-mini' %>
	  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	      register_path(register),
	      :method => :delete,
	      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	      :class => 'btn btn-mini btn-danger' %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<dl class="dl-horizontal month-summary">
  <dt><strong>Total Incomes:</strong></dt>
  <dd class="incoming"><%= number_to_currency(current_user.total_incoming_month(registers_month[:id], registers_year), unit: "$ ") %></dd>
  <dt><strong>Total Outgoings:</strong></dt>
  <dd class="outgoing"><%= number_to_currency(current_user.total_outgoing_month(registers_month[:id], registers_year), unit: "$ ") %></dd>
  <dt><strong>Total Balance:</strong></dt>
  <dd class="balance">$ <%= number_to_currency(current_user.total_balance_month(registers_month[:id], registers_year), unit: "") %></dd>
</dl>

<dl class="dl-horizontal month-summary paid-summary">
  <dt><strong>Paid:</strong></dt>
  <dd><%= number_to_currency(current_user.total_paid_month(registers_month[:id], registers_year), unit: "$ ") %></dd>
  <dt><strong>Not Paid:</strong></dt>
  <dd><%= number_to_currency(current_user.total_not_paid_month(registers_month[:id], registers_year), unit: "$ ") %></dd>
</dl>
