<%- model_class = Register -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<% @registers_years.each do |registers_year| %>

  <h2><%= registers_year %></h2>
  
  <% current_user.registers_months(registers_year).each do |registers_month| %>

    <h2><%= registers_month[:name] %></h2>

    <%= render partial: 'registers', locals: { 
      model_class: model_class,
      registers: current_user.registers_by_date(registers_year, registers_month[:id]),
      registers_month: registers_month,
      registers_year: registers_year
      }
    %>
    
  <% end %>
  <hr />
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_register_path,
            :class => 'btn btn-primary' %>
