<%- model_class = Register -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<% if @registers_years.any? %>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% @registers_years.each do |register_year| %>
        <li>
	  <a class="year-tab" href="#<%= register_year %>" data-toggle="tab"><%= register_year %></a>
	</li>
	<%= render partial: 'popover_year', locals: { current_user: current_user, register_year: register_year } %>
    <% end %>
    </ul>

    <div class="tab-content">
      <% @registers_years.each do |register_year| %>
        <div id="<%= register_year %>" class="tab-pane">
	  <% current_user.registers_months(register_year).each do |register_month| %>
	    <h2><%= register_month[:name] %></h2>
	    
	    <%= render partial: 'registers', locals: { 
	               model_class: model_class,
		       registers: current_user.registers_by_date(register_year, register_month[:id]),
		       registers_month: register_month,
		       registers_year: register_year
		       } %>

	    <%= link_to t('.new', :default => t("helpers.links.new")), new_register_path, :class => 'btn btn-primary' %>
	    <%= link_to "Destroy #{ register_month[:name]}", 
		destroy_month_registers_path(register_year, register_month[:id]), 
		method: :delete, confirm: "Are you sure you want to destroy all the records for #{ register_month[:name]}?", 
		class: 'btn btn-danger' %>
	    
            <hr />
	  <% end %>

	  
	  <%= link_to "Destroy #{ register_year }", destroy_year_registers_path(register_year), 
	      method: :delete, confirm: "Are you sure you want to destroy all the records for #{ register_year } ?", 
	      class: 'btn btn-danger' %>	  
        </div>
      <% end %>
    </div><!-- /.tab-content -->
  </div><!-- /.tabbable -->

<% else %>
  <h3>You don't have registers!</h3>
  <p>
    Start creating registers using the button below. You will be send to the 
    <strong>creation</strong> page.
  </p>

  <%= link_to t('.new', :default => t("helpers.links.new")), new_register_path,
                        :class => 'btn btn-primary' %>

<% end %>

