<%- model_class = Register -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @register.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @register.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @register.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:balance_type) %>:</strong></dt>
  <dd><%= @register.balance_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paid) %>:</strong></dt>
  <dd><%= show_paid_status(@register) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              registers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_register_path(@register), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              register_path(@register),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
